/*	CSS made by thetalkingcat#8088 (meowwy_)  */

/* Fonts */
@font-face {
    font-family: gamefont;
    src: url("https://raw.githubusercontent.com/MOF1/krunker_css/main/css/fonts/Steradian-Bold.otf");
}

* {
    font-family: gamefont;
}

/* Ad Removal */
.ad-bottom,
.ad-left {
    visibility: hidden !important;
}

/*Logo*/
.interface .logo {
   visibility: hidden
}

.interface .logo:after {
   visibility: visible;
   content: "UNKOWN" !important;
}

/*Background*/
.pattern-bg,
.bg-radial {
    display: none;
}

.interface .background{
    background: url(https://media.discordapp.net/attachments/1047811876098166804/1068705853332525156/9k.png) !important;
    background-size: cover !important;
}

.end-modal {
    background:url(https://media.discordapp.net/attachments/1047811876098166804/1068705853332525156/9k.png) !important;
    background-size: cover !important;
}

/*Left Interface (includes profile)*/
.left-interface .profile {
    background: rgba(0, 0, 0, 0);
    width: 2500px;
    height: 14px;
    margin-bottom: 0px;
}

.left-interface .progress-label {
    visibility: hidden;
}

.left-interface .exp-values {
	display: none
}

.left-interface .progress-lvl {
    margin-bottom: 4px;
	margin-right: -100px;
	margin-left: 240px;
	right: 100px;
    visibility: visible;
}

.left-interface .progress-line {
    background: transparent !important;
    height: 18px;
}

.left-interface .progress {
    background: #fff;
}

.left-interface .level {
    display: none;
}

.left-interface .avatar-info{
	position: absolute !important;
    background: transparent !important;
	margin-left: 1800px;
	margin-top: -15px !important;
	border: none;
}

.player .levels {
	display: none !important
}

.avatar.avatar {
	border-radius: 5px;
}

.username {
	display: none !important
}

.left-interface .user-info {
	background: transparent;
    position: fixed;
	margin-left: 1575px;
	border: none
}
.left-interface .money {
    background: transparent !important;
	left: 1400px;
    margin-top: -10px;
	border: none;
}

.left-interface .card-cont.money.diamonds {
    background: transparent !important;
	left: 1270px !important;
    margin-top: 40px !important;
	border: none;
}

.left-interface .avatar-info:hover,
.left-interface .user-info:hover {
    background: transparent;
}

/* Left Icons*/
.left-icons {
    background: rgba(0, 0, 0, 0) !important;
    left: 0 !important;
	border-radius: 0 !important;
}

.left-icons .icon-btn {
    background: transparent;
	border: none;
    width: 107px;
    border-radius: 0;
}

.left-icons .icon-btn .text-icon,
.left-icons .icon-btn svg {
    display: none !important;
}

/* Left Icon Text Translation*/
.icon-btn.text-1.HUB:after {
	visibility: visible;
	content: "中心" !important;
	font-family: gamefont;
	font-size: 25px;
}

.icon-btn.text-1.STORE:after {
	visibility: visible;
	content: "店铺" !important;
	font-family: gamefont;
	font-size: 25px;
}

.icon-btn.text-1.SERVERS:after {
	visibility: visible;
	content: "服务器" !important;
	font-family: gamefont;
	font-size: 25px;
}

.icon-btn.text-1.QUESTS:after {
	visibility: visible;
	content: "任务" !important;
	font-family: gamefont;
	font-size: 25px;
}

.icon-btn.text-1.FRIENDS:after {
	visibility: visible;
	content: "朋友" !important;
	font-family: gamefont;
	font-size: 25px;
}

.icon-btn.text-1.INVENTORY:after {
	visibility: visible;
	content: "存货" !important;
	font-family: gamefont;
	font-size: 25px;
}

.icon-btn.text-1.MAP:after {
	visibility: visible;
	content: "地图" !important;
	font-family: gamefont;
	font-size: 25px;
}

/*Left Interface Text Transition*/
.icon-btn.text-1.HUB:hover {
	visibility: visible;
	font-family: gamefont;
	transition: 0.4s;
	transform: scale(1.5);
}

.icon-btn.text-1.STORE:hover {
	visibility: visible;
	font-family: gamefont;
	transition: 0.4s;
	transform: scale(1.5);
}

.icon-btn.text-1.SERVERS:hover {
	visibility: visible;
	font-family: gamefont;
	transition: 0.4s;
	transform: scale(1.5);
}

.icon-btn.text-1.QUESTS:hover {
	visibility: visible;
	font-family: gamefont;
	transition: 0.4s;
	transform: scale(1.5);
}

.icon-btn.text-1.FRIENDS:hover {
	visibility: visible;
	font-family: gamefont;
	transition: 0.4s;
	transform: scale(1.5);
}

.icon-btn.text-1.INVENTORY:hover {
	visibility: visible;
	font-family: gamefont;
	transition: 0.4s;
	transform: scale(1.5);
}


.icon-btn.text-1.MAP:hover {
	visibility: visible;
	font-family: gamefont;
	transition: 0.4s;
	transform: scale(1.5);
}

/* Right Interface */
.right-interface {
	padding-top: 30px !important;
}

.right-interface {
    z-index: 1 !important;
}

.soc-group:nth-child(1),
.soc-group:nth-child(2) {
	background: transparent !important;
	border: none;
    visibility: hidden;
}

/*Right Interface Text translation*/
.right-interface .settings {
	visibility: hidden;
	background: transparent;
	border: none;
	margin-left: -3700px !important;
	margin-top: 30px;
	font-family: gamefont !important;
	font-size: 25px !important
} 

.right-interface .settings:after {
	visibility: visible;
	content: "设置";
	font-family: gamefont !important
	font-size: 25px !important
}

.right-interface .settings:hover {
	background: none;
	transition: 0.4s;
	transform: scale(1.5);
}

/* Daily Quest */
#dailyQuests {
    position: fixed;
    top: 50px;
	background: transparent;
    border: none;
	border-radius: 0;
	z-index: -1 !important;
	overflow: auto;
}

#dailyQuests {
	margin-top: 80px
}
.right-interface .quest {
	background: rgba(0, 0, 0, 0.04) !important;
	backdrop-filter: blur(10000px) !important;
}

.right-interface .tabs {
	background: rgba(0, 0, 0, 0.04) !important;
	border: none !important;
}

.tab.event {
	background: rgba(0, 0, 0, 0.01) !important;
	border: none !important;
}

#dailyQuests .tip {
	background: transparent !important;
	border-radius: 0 !important;
	margin-left: 15px;
}

.quest .progress-line {
	background: transparent
}

#dailyQuests .reward {
	background: rgba(0, 0, 0, 0);
}

.quest .amount {
	color: #fff;
}

.quest .progress2 {
	color: #fff;
}

.quest .progress-line .progress {
	background: #fff
}

/* Container */
.container {
    background: transparent;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.container-card {
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
    border-radius: 0 !important;
}

.container button {
    background: pink !important;
    border-radius: 0 !important;
    transform: none !important;
}

.container button:hover {
    background-color: pink !important;
}

.container button .border-top,
.container button .border-bottom {
    display: none;
}

.loader  {
	background: transparent !important;
	border: none !important;
}

.tabs {
    background: transparent !important;
    border-bottom: none !important;
    box-shadow: none !important;
    border-right: none !important;
}

.tab {
    background: transparent !important;
    border-right: none !important;
    border-left: none !important;
}

.container {
    background:rgba(0,0,0,0.3) !important;
	margin-top: 5px !important;
	z-index: 999 !important;

}

.background {
	background: pink !important;
}

.tab:hover,
.nav:hover {
	color: #fff !important;
	background: transparent !important;
}

.top-bar,
.home,
.text-2.name-page{
	background: transparent !important;
	border: none !important;
	box-shadow: none !important
}

.tab.active {
	background: none !important;
	color: #fff !important;
}

.tab {
	background: transparent;
	color: white !important;
}

.nav.active {
	color: #ffffff;
}


.add-friends,
.top-items {
    background: transparent !important;
}

.limit {
    border-left: none !important;
}

.close{
	display: none !important;
}

.reset-time,
.info-awards,
.news {
    background: transparent !important;
    box-shadow: none !important;
}

.settings .box {
    background: transparent;
    border: none;
}

.select-mods-cont {
    width: 400px !important;
    height: 517px !important;
    border: 1px solid white !important;
    border-radius: 10px !important;
    background: transparent !important;
	backdrop-filter: blur(100px);
    overflow: visible;
	z-index: 999 !important;
    margin-right: 300%;
}

.select-regions-cont {
    border: none !important;
    border-radius: 0 !important;
    background: #fff0 !important;
    margin-bottom: 40px;
}

.select-regions-regions .region:nth-child(1) span,
.select-regions-regions .region:nth-child(2) span,
.select-regions-regions .region:nth-child(3) span,
.select-mods-mods .mod:nth-child(1) span,
.select-mods-mods .mod:nth-child(2) span {
	visibility: hidden;
}

.select-regions-regions .region:nth-child(1) span:before,
.select-regions-regions .region:nth-child(2) span:before,
.select-regions-regions .region:nth-child(3) span:before,
.select-mods-mods .mod:nth-child(1) span:before,
.select-mods-mods .mod:nth-child(2) span:before {
	visibility: visible;
}

.select-regions-regions .region:nth-child(1) span:after{
	visibility: visible;
	content: "NA (北美)";
	margin-left: -130px;
}

.select-regions-regions .region:nth-child(2) span:after{
	visibility: visible;
	content: "EU (欧洲)";
	margin-left: -60px;
}

.select-regions-regions .region:nth-child(3) span:after{
	visibility: visible;
	content: "ASIA (亚洲)";
	margin-left: -32px;
}

.select-mods-mods .mod:nth-child(1) span:after{
	visibility: visible;
	content: "FFA";
	margin-left: -40px;
}

.select-mods-mods .mod:nth-child(2) span:after{
	visibility: visible;
	content: "TDM";
	margin-left: -47px;
}

/* Play Content */
.play-content .select-region,
.play-content .select-mod {
    background: rgba(0, 0, 0, 0.04);
    border-radius: 0;
    border: 4px solid #ffffff1c;
}

.play-content .select-region:hover {
    background: rgba(0, 0, 0, 0.09);
    backdrop-filter: blur(5px);
}

.play-content .select-mod:hover {
    background: rgba(0, 0, 0, 0.09);
}

#play-btn {
	visibility: hidden
}

#play-btn:hover {
	background: rgba(0, 0, 0, 0.09) !important;
    backdrop-filter:blur(10px)
}

#play-btn .border-top,
#play-btn .border-bottom {
    background: none !important;
}

.triangle {
    display: none !important;
}

#play-btn > div.text {
    visibility: hidden;
	font-size: 1px
}

#play-btn > div.text:after {
    content: '开始';
    visibility: visible;
    font-size: 40px !important;
}

.select-mods-cont hr {
	display: none !important
}

.custom-checkbox.private-btn {
	content: "";
	visibility: hidden;
}

.custom-checkbox.private-btn:after {
	visibility: visible;
	content: "创建";
	font-size: 25px;
	left: 100px !important;

}
/*Custom Checkbox*/
.custom-checkbox > span:before {
    border-radius: 50px;
    background-color: transparent !important;
    border: none !important;
}

.custom-checkbox > input:checked + span:before {
    background-color: transparent !important;
	border: none;
}

/*Scroll Bar*/
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.15)
}

::-webkit-scrollbar-track {
    background: rgba(255, 211, 217, 0.9)
}

/*Hub (Leaderboard)*/
.clan-tag,
.lvl-leader,
.leaderboard-cont .label-primary,
.leaderboard-cont .awards-span,
.leaderboard-cont .list-cont.list-players,
.leaderboard-cont .item {
	background: transparent !important;
	color: pink !important;
}

.leaderboard-cont .bg-light,
.leaderboard-cont .background-leaders {
	display: none !important
}

.leaderboard-cont .top-label,
.leaderboard-cont .label-primary,
.leaderboard-cont .label-name,
.leaderboard-cont .awards-span,
.leaderboard-cont > div.text {
	visibility: hidden;
	font-size: 0px !important;
}

.leaderboard-cont .top-label:after {
	visibility: visible !important;
	content: "今天";
	color: white !important;
	font-size: 20px !important;
}

.leaderboard-cont .label-primary:after{
	visibility: visible !important;
	content: "顶级球员";
	color: pink !important;
	font-size: 30px !important;
}

.leaderboard-cont .label-name:after { 
	visibility: visible !important;
	content: "今天";
	color: white !important;
	font-size: 30px !important; 
}

.leaderboard-cont .awards-span::after { 
	visibility: visible !important;
	content: "奖项";
	color: pink !important;
	font-size: 25px !important; 
}

.leaderboard-cont .top-name,
.leaderboard-cont .value,
.leaderboard-cont .name.profile {
	color: white !important
}

/*Hub (Clans) */
.champions-container .background {
	display: none !important
}

.clans .pages-nav.text-2,
.clans {
	background: transparent !important
}

.champions-container .champions-list,
.champions-container .item,
.my-clan .card-cont,
.my-clan .list-container,
.my-clan .item-content,
.description.background,
.champions-stat.background, 
.all-scores.background  {
	background: transparent !important;
}

.list-labels,
.my-clan .label,
.my-clan .champions-league,
.my-clan .champions-scores,
.my-clan .all-scores-label,
.champions-container .awards-label,
.champions-container .item {
	color: white !important;
}

.champions-container .leaders {
	visibility: hidden !important;
	font-size: 0px !important
}

.champions-container .leaders:after {
	visibility: visible !important;
	content: "族长" !important;
	font-size: 30px !important
}

.circle {
	display: none
}

.champions-container .header {
	margin-top: -50px !important;
	margin-left: 10px !important;
	left: -120px !important
}

.champions-container .cards {
	display: flex;
	flex-direction: column !important;
	padding: 15px;
	margin-left: -115px !important
}

.champions-container .card {
	background: transparent !important;
}

/*Hub (Market)*/
.wrapper-input.wWmMn {
	background: transparent !important
}

.filter-name .input,
.filter-rarity .input,
.subjects,
.filter-rarity .items {
	background: transparent !important;
	border: none !important
}

.subject,
.count{
	background: transparent !important
}

.rar-skin {
	border-radius: 10px !important;
	left: 9px !important;
	top: 25px !important;
	width: 20px !important;
	height: 6px !important
}
/*Hub (Videos & Changelogs)*/
.tabs .label {
	background: pink
}

.live-streams,
.live-streams .head,
.card-list,
.card-list .title,
.card-list .card,
.card-list .head.text-2,
.changelog-item,
.changelog-date.item{
	background: transparent !important;
	border: none !important;
	box-shadow: none !important
}

.img-bg.text-2 {
	color: #fff
}

/*Hub (Terms)*/
.terms .box,
.terms .head{
	background: transparent !important;
	border: none !important;
	box-shadow: none !important
}

/*Store
To be continued*/

/*Servers*/
.rules,
.info-key-cont.enter {
	display: none !important
}

.container-games .input,
.server,
.messages.messages-cont {
	background: transparent !important
}

.available-rooms,
.online,
.mod-name {
	color: pink !important
}

.chat .name {
    color: pink;
}


.message .lvl {
    color: pink;
}

.container-games .chat-label {
	visibility: hidden;
	font-size: 0px;
}

.container-games .chat-label:after {
	visibility: visible;
	content: "全球聊天";
	font-size: 25px;
}

.preview.text-2 {
	background: transparent !important
}

/*Quests*/
.quest,
.quest .rewards,
.time-left,
.reward {
	background: rgba(0, 0, 0, 0.04) !important
}

.quest .left {
	border-radius: 10px !important;
}

.quests .tip {
	visibility: hidden;
	font-size: 0px;
}

.quests .tip:after {
	visibility: visible;
	content: "在结束前离开游戏将取消你的任务进度";
	font-size: 25px;
}

/*Friends*/
.friends .head-text,
.friends .input {
	background: transparent !important;
	box-shadow: none !important;
	border: none !important;
}

.reqs {
	background: pink !important
}

.friend,
.level-cont,
.delete,
.add {
	background: rgba(0, 0, 0, 0.04) !important;
	border: none !important
}

.level-label {
	color: pink !important
}

/*Inventory*/
.inventory .gun,
.inventory .bottom,
.inventory .avatar,
.inventory .tab-bar {
	background: transparent !important
}

.inventory .left {
	background: rgba(0, 0, 0, 0.04) !important
}

.tab.active {
	border: none !important
}

.inventory .level {
	display: none !important
}

.inventory .subject .selected {
	background: pink !important;
	top: 82px !important;
    margin-right: -3px !important;
}

/*Level Rewards*/
.levels .level-progress,
.levels .progress-helper,
.levels .progress,
.levels .lvl {
	background: pink !important
}

.levels .description {
	display: none !important
}

/*Profile*/
.profile .levels {
	display: none
}

.card.card-profile,
.card.k-d,
.card.progress,
.card.statistics,
.progress-line.secondary {
	background: rgba(0, 0, 0, 0.04) !important;
	box-shadow: none !important;
}

.stat-name.text-2,
.progress-level-value.text-2 {
	color: pink !important
}

.card.progress .progress {
	background: pink !important
}